body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(184, 181, 181);;
    min-height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.home-img{
    align-self: center;
    float: right;
}
.menu{
    box-sizing: border-box;

}

.contenedor {
    display: grid;
    border-style: solid;
    width: fit-content;
    padding: 15px;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr;
    text-align: center;
    margin: auto;
}

.contenedor-input{
    display: block;
    justify-content: center;
    color:rgb(184, 181, 181);
}

.contenedor-input label{
    display: block;
    text-align: center;
}

.formulrio {
    background: #fff;
    padding: 3px;
    
}

h1 {
    text-align: center;
    color: rgb(184, 181, 181);
    font-size: 40px;
    ;
}
input[type="text"]
input[type="password"]´{
    font-size: 20px;
    width: 82;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;

}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;

}
p{
    text-align: center;

}
.link:hover{
    color:cadetblue
}


.menu{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 100%;
    max-width: 100%;
    margin:auto;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    justify-content: space-between;
    align-self: center;

}
.menu li a:hover{
    background: #ef8354;
}

h1{
    padding: 50px 0;
    text-align: center;
}

footer{
    color: rgb(184, 181, 181);
}

.centrar{
    text-align: center;
}

.paypal-img{
    background-image: url("../img/paypalimg.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
}

.movedor{
    display: flex;
    justify-content: center;
}