<div>
    <h1>Registrarse</h1>
    <form action="/api/session/register" method="post">
        <label for="Usuario">Usuario</label>
        <input type="text" name="Usuario" id="">
        <label for="Gmail">Gmail</label>
        <input type="email" name="Gmail" id="">
        <label for="Password">Contraseña</label>
        <input type="password" name="Password" id="">

        <input type="submit" value="Registrarse">
    </form>
    <a href="/login">Ya tengo cuenta</a>
</div>